.sliders-container {
    flex: 1;
    min-height: 80vh;
}

.progress-bar-component {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 0.1rem;
    width: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.1vw 0.4vw;
    box-sizing: border-box;
    border-radius: 5px;
    height: 100%;
    
    &.movie-poll-result {
        .title {
            color: goldenrod !important;
            font-weight: 600 !important;
        }

        .label {
            color: white;
        }
    }

    &.normal {
        padding: 0.1vw 0.7vw;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
        column-gap: 1rem;
    }

    .progress-bar-container {
        background-color: rgba(255, 255, 255, 0.1);
        height: 0.7rem;
        width: 100%;
        margin: auto;
        border-radius: 5px;

        .progress-bar {
            background-color: goldenrod;
            height: 0.7rem;
            width: 100%;
            border-radius: 5px;
        }
    }

    .label {
        font-family: 'PT Sans Narrow';
        font-size: calc(0.5rem + 0.8vw);
        color: rgba(255, 255, 255, 0.8);
    }

    .title {
        margin: auto 0 !important;
        text-align: left;
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: calc(0.4rem + 1vw) !important;
        font-weight: normal !important;
        background-color: transparent !important;
        padding: 0 !important;
    }
}

.poll-component {
    padding: 1.5% 2%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 4%;

    .header {
        display: grid;
        grid-template-columns: auto 1fr 20% auto;
        grid-template-rows: auto;
        column-gap: 2rem;

        &.owner-close-poll-header {
            grid-template-columns: 15% auto 1fr 20% auto;
        }

        &.owner-open-poll-header {
            grid-template-columns: 15% auto 1fr auto;
        }

        &.opened-poll {
            grid-template-columns: auto 1fr auto;
        }

        &.closed-poll {
            grid-template-columns: auto 1fr 20% auto;
        }

        .end-date-picker {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            gap: 1rem;
            font-size: calc(0.5rem + 1vw);
            font-family: 'PT Sans Narrow';
            font-weight: 600;

            input {
                height: 100%;
                font-family: inherit;
                font-size: inherit;
                background-color: rgba(255, 255, 255, 0.1);
                border: 1px solid transparent;
                padding: 0 calc(0.5rem + 1vw);
                border-radius: 5px;
                color: white;
                font-weight: 600;
                outline: 0;

                &:hover {
                    border: 1px solid white;
                }

                &::-webkit-calendar-picker-indicator {
                    filter: invert(1);

                    &:hover {
                        cursor: pointer;
                    }
                }

                &.invalid-date {
                    color: red;
                    border: 1px solid rgba(255, 0, 0, 0.7);
                    background-color: rgba(255, 0, 0, 0.2);
                }

                &.saving {

                }
            }
        }

        .release-poll-btn {
            font-size: calc(0.5rem + 1vw);
            padding: calc(0.5rem + 0.1vw) calc(0.5rem + 1vw);
            box-sizing: border-box;
            font-weight: 600;
            font-family: 'PT Sans Narrow';
            border-radius: 5px;
            border: 2px solid goldenrod;
            color: goldenrod;
            background-color: #0f0f0f;
            min-width: fit-content;

            &:hover {
                cursor: pointer;
                background-color: #0f0f0fa4;
            }

            &.disabled {
                background-color: rgba(15, 15, 15, 0.6);
                cursor: default;
                color: rgba(218, 165, 32, 0.6);
                border: 2px solid rgba(218, 165, 32, 0.6); 
            }
        }
    }

    .title {
        font-family: 'PT Sans Narrow';
        font-size: calc(1rem + 1.5vw);
        font-weight: 600;
        color: white;
        width: fit-content;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.13);
        padding: 0.2rem 0.9rem;
        border-radius: 5px;
    }

    .status {
        border: 1px solid rgba(255, 255, 255, 0.8);
        padding: 0.2rem 3rem;
        font-family: 'PT Sans Narrow';
        font-size: calc(1rem + 0.5vw);
        box-sizing: border-box;
        margin: auto;

        &.released {
            border-color: chartreuse;
            color: chartreuse;
        }

        &.not-released {
            border-color: red;
            color: red;
        }
    }

    .end-date {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        color: white;
        font-family: 'PT Sans Narrow';
        font-size: calc(0.5rem + 1vw);
        column-gap: 1rem;
        margin: auto;
        font-weight: 600;
    }

    .movies-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-sizing: border-box;
        padding: 1rem 0;
    }
}

.movie {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1.5%;
    box-sizing: border-box;
    background-color: rgb(15, 15, 15);
    border-radius: 5px;
    height: calc(9*(45vw/16));

    .poster-container {
        width: 0;
        position: relative;
        border-radius: 5px;
        height: 100%;
        
        .poster {
            border-radius: 5px;
            height: 100%;
            z-index: 1;
            opacity: 0;
            transition: opacity 350ms ease-out;
    
            &.loaded {
                opacity: 1;
            }
        }
    }

    .poll-data {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .providers {
            flex: 1;
            display: flex;
            flex-direction: column;
            background-color: black;
            padding: 0.5rem calc(0.5rem + 0.5vw);
            box-sizing: border-box;
            border-radius: 5px;

            @media screen and (min-width: 768px) {
                overflow-y: auto;
                &::-webkit-scrollbar {
                    width: 0.4rem;
                }
                
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(255, 255, 255, 0.5);
                    border-radius: 5px;
                }
        
                &::-webkit-scrollbar-track {
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 5px;
                }
            }

            .providers-title {
                font-family: 'PT Sans Narrow';
                font-size: calc(0.5rem + 0.7vw);
                font-weight: 600;
            }

            .providers-container {
                padding: 0.5rem 0;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 0.5rem;
                justify-content: flex-start;
                align-items: flex-start;
                align-content: flex-start;

                .image-provider-container {
                    flex-grow: 0;
                }

                img {
                    width: calc(0.7rem + 2vw);
                    border-radius: 5px;
                }
            }
        }

        .movie-poll-result {
            background-color: rgba(255, 255, 255, 0.13);
            border-radius: 5px;
            padding: 0.4vw;
            box-sizing: border-box;
            .movie-poll-result-title {
                font-family: 'PT Sans Narrow';
                font-size: calc(0.5rem + 0.8vw);
                color:white;
                margin-bottom: 0.5rem;
            }
        }

        .delete-movie-btn {
            background-color: transparent;
            border: 1px solid rgba(255, 0, 0, 0.7);
            padding: 0.6rem 2rem;
            box-sizing: border-box;
            color: red;
            background-color: rgba(255, 0, 0, 0.1);
            font-family: 'PT Sans Narrow';
            font-size: calc(0.5rem + 1vw);
            font-weight: 600;
            border-radius: 5px;
            min-height: calc(0.5rem + 3vw);

            &:hover {
                cursor: pointer;
                background-color: rgba(255, 0, 0, 0.2);
            }

            &.disabled {
                border: 1px solid rgba(255, 255, 255, 0.3);
                background-color: rgba(255, 255, 255, 0.1);
                color: rgba(255, 255, 255, 0.3);
            }
        }

        .vote-movie-button {
            font-family: 'PT Sans Narrow';
            font-size: calc(0.5rem + 1vw);
            font-weight: 600;
            border-radius: 5px;
            min-height: calc(0.5rem + 3vw);
            border: 2px solid goldenrod;
            padding: 0.6rem 2rem;
            box-sizing: border-box;
            background-color: rgba(255, 255, 255, 0);
            color: goldenrod;
            font-weight: 600;
            transition: 100ms ease-out;

            &:hover {
                cursor: pointer;
                color: white;
                background-color: goldenrod;
            }

            &.disabled { 
                border-color:rgba(255, 255, 255, 0.5) !important;
                background-color: rgba(255, 255, 255, 0.2) !important;
                color: rgba(255, 255, 255, 0.5) !important;
                cursor: default !important;
            }
        }
    }

    .movie-data {
        z-index: 2;
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 30%;
        grid-template-rows: 100%;
        column-gap: 1rem;
        background-image: linear-gradient(to right, transparent 0%, rgb(15, 15, 15) 20%);
        padding: 1% 1% 1% 5rem;
        box-sizing: border-box;
        margin-left: 30%;
        height: 100%;
        transition: 350ms ease-out;

        .main-data {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            
            .header {
                display: flex;
                flex-direction: row;
            }

            .sub-header {
                display: grid;
                grid-template-columns: auto 1fr;
                grid-template-rows: auto;
                column-gap: 1rem;
            }

            .title {
                margin: 0;
                color: white;
                font-size: calc(9*(45vw*0.3/16)*0.22);
                max-width: 100%;
            }

            .release-date {
                font-size: calc(0.5rem + 1.2vw);
                font-family: 'PT Sans Narrow';
                margin: auto 0;
                width: fit-content;
                opacity: 0.7;
            }

            .description-cast {
                min-height: 0;
                flex: 1;
                font-size: calc(0.2rem + 1.2vw);
                font-family: 'PT Sans Narrow';
                display: flex;
                flex-direction: column;
                gap: 1rem;
                color: rgb(240, 240, 240);
                
                .description {
                    max-height: 100%;

                    @media screen and (min-width: 768px) {
                        overflow-y: auto;
                        padding-right: 0.5rem;
                        &::-webkit-scrollbar {
                            width: 0.4rem;
                        }
                        
                        &::-webkit-scrollbar-thumb {
                            background-color: rgba(255, 255, 255, 0.5);
                        }
                
                        &::-webkit-scrollbar-track {
                            background-color: rgba(255, 255, 255, 0.2);
                        }
                    }
                }

                .cast-data {
                    div {
                        font-size: calc(0.2rem + 1.2vw);
        
                        span {
                            color: rgb(180, 180, 180);
                        }
                    }
                }
            }

            .certification {
                font-size: calc(0.3rem + 0.9vw);
                margin: auto 0;
                padding: 0rem 0.7rem;
                box-sizing: border-box;
                font-family: 'PT Sans Narrow';
                border: 1px solid white;
                opacity: 0.7;
                width: fit-content;
            }

            .genres {
                font-family: 'PT Sans Narrow';
                font-size: calc(0.6rem + 0.5vw);
                padding: 0.4rem 1rem;
                box-sizing: border-box;
                border: 1px solid white;
                width: fit-content;
            }
        }
    }
}

.text-input-component {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;

    form {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
        column-gap: 1rem;   
        border: 1px solid transparent;
        border-radius: 5px; 

        &:hover {
            border: 1px solid white !important;
        }
    }

    input {
        padding: calc(0.5rem + 0.3vw) calc(0.5rem + 1vw);
        border: 0;
        outline: 0;
        background-color: transparent;
        color: white;
        font-family: 'PT Sans Narrow';
        font-size: calc(0.5rem + 1.5vw);
        font-weight: 600;
    }
    
    .edit-vector {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 calc(0.5rem + 0.5vw);
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 0 5px 5px 0;
        border: 0;
        outline: 0;
        height: 100%;

        svg {
            width: calc(0.5rem + 1.3vw);
            color: white;
            height: 100%;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.1);
            svg {
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
}

.poll-author-component {
    padding: 0 0 2rem 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .author-petition {
        display: flex;
        flex-direction: column;

        .author-petition-text {
            font-family: 'PT Sans Narrow';
            font-size: calc(1rem + 0.5vw);
        }
    }

    .author-photo-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;

        img {
            border-radius: 50%;
            width: calc(1rem + 5vw);
        }
    }

    .author-name {
        font-family: 'PT Sans Narrow';
        font-size: calc(1rem + 1vw);
        font-weight: 600;
    }
}