.sliders-container {
    flex: 1;
    min-height: 80vh;
}

.poll-component {
    padding: 1.5% 2%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 4%;

    .header {
        display: grid;
        grid-template-columns: auto auto 1fr auto;
        grid-template-rows: auto;
        column-gap: 2rem;
    }

    .title {
        font-family: 'PT Sans Narrow';
        font-size: calc(1rem + 1.5vw);
        font-weight: 600;
        color: rgba(255, 255, 255, 0.8);
        width: fit-content;
        margin: auto;
    }

    .status {
        border: 1px solid rgba(255, 255, 255, 0.8);
        padding: 0.2rem 3rem;
        font-family: 'PT Sans Narrow';
        font-size: calc(1rem + 0.5vw);
        box-sizing: border-box;
        margin: auto;

        &.released {
            border-color: greenyellow;
            color: greenyellow;
        }

        &.not-released {
            border-color: red;
            color: red;
        }
    }

    .end-date {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        color: rgba(255, 255, 255, 0.8);
        font-family: 'PT Sans Narrow';
        font-size: calc(1rem + 0.5vw);
        column-gap: 1rem;
        margin: auto;
    }

    .movies-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-sizing: border-box;
        padding: 1rem 0;
    }
}

.movie {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1.5%;
    box-sizing: border-box;
    background-color: rgb(15, 15, 15);
    border-radius: 5px;
    height: calc(9*(45vw/16));

    .poster-container {
        width: 0;
        position: relative;
        border-radius: 5px;
        height: 100%;
        
        .poster {
            border-radius: 5px;
            height: 100%;
            z-index: 1;
            opacity: 0;
            transition: opacity 350ms ease-out;
    
            &.loaded {
                opacity: 1;
            }
        }
    }

    .movie-data {
        z-index: 2;
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 30%;
        grid-template-rows: 100%;
        column-gap: 1rem;
        background-image: linear-gradient(to right, transparent 0%, rgb(15, 15, 15) 20%);
        padding: 1% 1% 1% 5rem;
        box-sizing: border-box;
        margin-left: 30%;
        height: 100%;

        .main-data {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            
            .header {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 1rem;
            }

            .title {
                margin: 0;
                font-size: calc(0.5rem + 1.5vw);
                color: white;
                font-size: calc(9*(45vw*0.3/16)*0.22);
            }

            .release-date {
                font-size: calc(0.5rem + 1.5vw);
                font-family: 'PT Sans Narrow';
                margin: auto 0;
                width: fit-content;
                opacity: 0.7;
            }

            .description-cast {
                min-height: 0;
                flex: 1;
                font-size: calc(0.2rem + 1.2vw);
                font-family: 'PT Sans Narrow';
                display: flex;
                flex-direction: column;
                gap: 1rem;
                color: rgb(240, 240, 240);
                
                .description {
                    max-height: 100%;

                    @media screen and (min-width: 768px) {
                        overflow-y: auto;
                        padding-right: 0.5rem;
                        &::-webkit-scrollbar {
                            width: 0.5rem;
                        }
                        
                        &::-webkit-scrollbar-thumb {
                            background-color: rgba(255, 255, 255, 0.5);
                        }
                
                        &::-webkit-scrollbar-track {
                            background-color: rgba(255, 255, 255, 0.2);
                        }
                    }
                }

                .cast-data {
                    div {
                        font-size: calc(0.2rem + 1.2vw);
        
                        span {
                            color: rgb(180, 180, 180);
                        }
                    }
                }
            }

            .certification {
                font-size: calc(0.6rem + 0.9vw);
                margin: auto 0;
                padding: 0rem 0.7rem;
                box-sizing: border-box;
                font-family: 'PT Sans Narrow';
                border: 1px solid white;
                opacity: 0.7;
            }

            .genres {
                font-family: 'PT Sans Narrow';
                font-size: calc(0.6rem + 0.5vw);
                padding: 0.4rem 1rem;
                box-sizing: border-box;
                border: 1px solid white;
                width: fit-content;
            }
        }
    }
}