.sliders-container {
    flex: 1;
    min-height: 80vh;
}

.poll-component {
    padding: 1.5% 2%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 4%;

    .title {
        font-family: 'PT Sans Narrow';
        font-size: calc(1rem + 1.5vw);
        font-weight: 600;
        color: white;
        width: fit-content;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.13);
        padding: 0.2rem 0.9rem;
        border-radius: 5px;
    }

    .status {
        border: 1px solid rgba(255, 255, 255, 0.8);
        padding: 0.2rem 3rem;
        font-family: 'PT Sans Narrow';
        font-size: calc(1rem + 0.5vw);
        box-sizing: border-box;
        margin: auto;

        &.released {
            border-color: chartreuse;
            color: chartreuse;
        }

        &.not-released {
            border-color: red;
            color: red;
        }
    }

    .end-date {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        color: white;
        font-family: 'PT Sans Narrow';
        font-size: calc(0.5rem + 1vw);
        column-gap: 1rem;
        margin: auto;
        font-weight: 600;
    }

    .movies-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-sizing: border-box;
        padding: 1rem 0;
    }
}