version: "3.9"
services:
  api-server:
    image: edwinsoftwaredev/movie-polls:api-server
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 50
    environment:
      NODE_ENV: production
      PORT: 4000
      DATABASE_URL: file:${WEBAPP_STORAGE_HOME}/dev.db
      TMDB_API_KEY: ${TMDB_API_KEY}
      TMDB_API_URL: ${TMDB_API_URL}
      CLIENT_ORIGIN: ${CLIENT_ORIGIN}
      KEY: ${KEY}
      GOOGLE_APPLICATION_CREDENTIALS: ${GOOGLE_APPLICATION_CREDENTIALS}
    ports:
      - 443:4000
      # This will publish this service on port 443(HTTPS) which is the secured port in Azure App Service