.progress-bar-component {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 0.1rem;
    width: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.1vw 0.4vw;
    box-sizing: border-box;
    border-radius: 5px;
    height: 100%;

    @media screen and (max-width: 768px) {
        row-gap: 0;
    }

    .title {
        font-family: 'PT Sans Narrow';
        font-size: calc(1rem + 1.5vw);
        font-weight: 600;
        color: white;
        width: fit-content;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.13);
        padding: 0.2rem 0.9rem;
        border-radius: 5px;
    }

    &.movie-poll-result {
        .title {
            color: goldenrod !important;
            font-weight: 600 !important;
        }

        .label {
            color: white;
        }

        @media screen and (max-width: 768px) {
            padding: 1.5vw 2vw;
        }
    }

    &.normal {
        padding: 0.1vw 0.7vw;

        @media screen and (max-width: 768px) {
            padding: 1vw 2vw;
        }    
    }

    .container {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
        column-gap: 1rem;
    }

    .progress-bar-container {
        background-color: rgba(255, 255, 255, 0.1);
        height: 0.7rem;
        width: 100%;
        margin: auto;
        border-radius: 5px;

        @media screen and (max-width: 768px) {
            height: 1rem;
        }

        .progress-bar {
            background-color: goldenrod;
            height: 100%;
            width: 100%;
            border-radius: 5px;
        }
    }

    .label {
        font-family: 'PT Sans Narrow';
        font-size: calc(0.5rem + 0.8vw);
        color: rgba(255, 255, 255, 0.8);

        @media screen and (max-width: 768px) {
            font-size: calc(0.5rem + 2.5vw);
        }
    }

    .title {
        margin: auto 0 !important;
        text-align: left;
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: calc(0.4rem + 1vw) !important;
        font-weight: normal !important;
        background-color: transparent !important;
        padding: 0 !important;

        @media screen and (max-width: 768px) {
            font-size: calc(0.5rem + 3vw) !important;
        }
    }
}