.header {
    font-family: 'PT Sans Narrow';
    font-size: calc(0.3rem + 1.3vw);
    font-weight: 600;
    color: rgba(255,255,255,0.8);
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;

    @media screen and (max-width: 768px) {
        font-size: calc(0.5rem + 4vw);
    }
}

.new-poll-form {
    * {
        margin-bottom: 0.5rem;
    }
}