.header {
    font-family: 'PT Sans Narrow';
    font-size: calc(1rem + 0.7vw);
    font-weight: 600;
    color: rgba(255,255,255,0.8);
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
}

.new-poll-form {
    * {
        margin-bottom: 0.5rem;
    }
}