.container {
    box-sizing: border-box;
    padding: 1rem 0;
    overflow: hidden;

    .header {
        display: grid;
        padding: 0 4%;
        box-sizing: border-box;
        width: 100%;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;

        @media screen and (max-width: 768px) {
            padding: 0 2%;
        }

        .title {
            font-size: calc(1rem + 1.1vw);
            font-family: 'PT Sans Narrow';
            font-weight: 600;
            padding: 1rem 0;
            color: rgba(255, 255, 255, 0.8);

            @media screen and (max-width: 768px) {
                font-size: calc(1.5rem + 1.1vw);
                padding: 0.3rem;
            }
        }
    }

    .list-container {
        position: relative;
        display: flex;
        padding: 0 4%;
        overflow: visible;

        @media screen and (max-width: 768px) {
            overflow: auto;
            padding: 0;  
        }

        .forward, .backward {
            width: 4%;
            position: absolute;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%; // this is the original height of a card
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 10;
            cursor: pointer;
            span {
                background-color: white;
                height: 0.3rem;
                width: 2rem;
                display: block;
                border-radius: 3px;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.5);
            }
        }

        .backward {
            left: 0;
            border-radius: 0 5px 5px 0;

            & span:first-child {
                transform: rotate(65deg);
                transform-origin: left;
            }

            & span:last-child {
                transform: rotate(-65deg);
                transform-origin: left;
            }
        }

        .forward {
            right: 0;
            border-radius: 5px 0 0 5px;

            & span:first-child {
                transform: rotate(-65deg);
                transform-origin: right;
            }

            & span:last-child {
                transform: rotate(65deg);
                transform-origin: right;
            }
        }
    }
}