.loading-page-component {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .container {
        margin: auto;
        display: inline-block;
        .app-title {
            font-size: 4rem;
            font-family: 'Monoton';
            color: rgb(255, 215, 0);
            text-align: center;
            display: inline;
            animation-name: loading;
            animation-duration: 500ms;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }

        .app-logo {
            font-size: 4rem;
            display: inline;
            vertical-align: top;
            animation-name: loading;
            animation-duration: 700ms;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }

        @keyframes loading {
            0% {
                color: rgba(255, 215, 0, 0.2);
            }

            100% {
                color: rgba(255, 215, 0, 1);
            }
        }
    }
}