.card-overlay-component {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: background-color 350ms ease-out;
    transition-delay: 150ms;
    overflow: auto;

    &.active {
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
    }

    .card-overlay {
        position: absolute;
        transition: 350ms ease-out;

        &.active {
            height: 27.125vw !important;
            width: 50vw !important;
            left: 25vw !important;
            top: 5vh !important;
        }

        .before {
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: center;
            background-size: cover;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 110;
            border-radius: 5px;
        }

        .content {
            position: absolute;
            top: calc(27.125vw - 3px);
            z-index: 110;
            padding: 1.5rem;
            background-color: black;
            width: 100%;
            box-sizing: border-box;
            border-radius: 0 0 5px 5px;
            opacity: 0;
            visibility: hidden;
            height: 0;
            overflow: hidden;

            &.active {
                animation: content-frames 350ms;
                animation-timing-function: ease-out;
                animation-delay: 350ms;
                animation-fill-mode: forwards;
                // opacity: 1;

                @keyframes content-frames {
                    0% {
                        visibility: visible;
                        height: auto;
                    }

                    100% {
                        visibility: visible;
                        height: auto;
                        opacity: 1;
                    }
                }
            }

            .primary-info {
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-rows: auto auto;
                row-gap: 7px;
                font-family: 'PT Sans Narrow';
                font-weight: 600;
                font-size: calc(1rem + 0.8vw);


                .title {
                }

                .popularity {
                }

                .genres {
                    font-size: calc(1rem + 0.5vw);
                    ul {
                        list-style-type: none;
                        margin-block-start: 0;
                        margin-block-end: 0;
                        padding-inline-start: 0;
                        border: 1px solid white;
                        padding: 0 0.5rem;
                        width: fit-content;
            
                        li {
                            display: inline-block;
                            margin-right: 0.5rem;
                            font-size: calc(100% + 0.2rem);
                        }
            
                        & :last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

        }
    }
}
