.card-overlay-component {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: background-color 350ms ease-out;
    transition-delay: 150ms;
    overflow: auto;

    /*@media screen and (max-width: 768px) {
        transition: 350ms ease-out !important;
        top: unset;
        bottom: -50vh;
    }*/

    &.active {
        background-color: rgba(0, 0, 0, 0.5);
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;

        @media screen and (max-width: 768px) {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    .card-overlay {
        position: absolute;
        display: flex;
        flex-direction: column;
        transition: 350ms ease-out;

        @media screen and (max-width: 768px) {
            position: fixed;
            display: grid;
            grid-template-columns: calc(100vw/3.5) 1fr;
            grid-template-rows: auto auto;
            box-sizing: border-box;
            padding: 1rem;
            transition-delay: 350ms;
            top: unset !important;
            bottom: -50vh !important;
            left: 0 !important;
            width: 100% !important;
            height: auto !important;
            background-color: black;
            border-radius: 15px 15px 0 0;
        }

        &.active {
            height: auto !important;
            width: 56vw !important;
            left: 22vw !important;
            top: 5vh !important;

            .before {
                height: 27.125vw !important;

                @media screen and (max-width: 768px) {
                    position: relative;
                    width: calc(100vw/3.5) !important; // 3.25 => 0.25 => 0.25 shown of the 4th card
                    height: calc((((100vw - 0.25rem*3*2)/3.25)*16)/10) !important;
                }
            }

            @media screen and (max-width: 768px) {
                position: fixed;
                top: unset !important;
                left: 0 !important;
                bottom: 0 !important;
                height: auto !important;
                width: 100% !important;
            }
        }

        .before {
            transition: 350ms ease-out;
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: center;
            background-size: cover;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 110;
            border-radius: 5px;

            @media screen and (max-width: 768px) {
                position: relative;
                width: calc(100vw/3.5) !important; // 3.25 => 0.25 => 0.25 shown of the 4th card
                height: calc((((100vw - 0.25rem*3*2)/3.25)*16)/10) !important;
            }
        }

        .content {
            position: relative;
            z-index: 110;
            padding: 1.5rem;
            background-color: black;
            width: fit-content;
            box-sizing: border-box;
            border-radius: 0 0 5px 5px;
            opacity: 0;
            visibility: hidden;
            height: 0;
            overflow: hidden;
            margin-top: -4px;

            @media screen and (max-width: 768px) {
                opacity: 1;
                visibility: visible;
                background-color: unset !important;
                padding: 0 0 0 1rem;
                top: 0;
                position: relative;
                height: calc((((100vw - 0.25rem*3*2)/3.25)*16)/10);
                margin-top: 0;
            }

            &.active {
                animation: content-frames 350ms;
                animation-timing-function: ease-out;
                animation-delay: 350ms;
                animation-fill-mode: forwards;

                @keyframes content-frames {
                    0% {
                        visibility: visible;
                        height: auto;
                    }

                    100% {
                        visibility: visible;
                        height: auto;
                        opacity: 1;
                    }
                }

                @media screen and (max-width: 768px) {
                    transition: none;
                    position: relative;
                    top: 0;
                    left: 0;
                    opacity: 1;
                    animation: none 0 !important;
                }
            }

            .primary-info {
                display: flex;
                flex-direction: column;
                column-gap: 5px;
                row-gap: 7px;
                font-family: 'PT Sans Narrow';
                font-weight: 600;
                font-size: calc(1rem + 0.8vw);

                @media screen and (max-width: 768px) {
                    height: 100%;
                    font-size: calc(1rem + 1.5vw);
                }

                .header {
                    display: grid;
                    grid-template-columns: auto auto auto 1fr;
                    grid-template-rows: auto;
                    column-gap: 1rem;
                    color: rgba(255, 255, 255, 0.4);
                }

                .title {
                    color: white;
                    line-height: 1;
                    margin: auto;
                    height: fit-content;
                }

                .certification {
                    border: 1px solid rgba(255, 255, 255, 0.4);
                    font-size: 80%;
                    line-height: 1;
                    display: flex;
                    align-items: center;
                    font-weight: normal;
                    padding: 0 0.5rem;
                    box-sizing: border-box;
                    height: fit-content;
                    margin: auto;
                }

                .release-date {
                    line-height: 1;
                    height: fit-content;
                    margin: auto;
                    font-size: 100%;
                    font-weight: normal;
                }

                .overview {
                    font-size: 80%;
                    font-weight: normal;
                    overflow: auto;
                    height: 100%;
                    display: grid;
                    grid-template-columns: 75% 1fr;
                    grid-template-rows: auto;
                    column-gap: 1rem;
                    padding: 0 2rem;

                    .movie-info {
                        * {
                            margin-bottom: 0.5rem;
                        }
                    }

                    .description {
                        padding-right: 1.5rem;
                        box-sizing: border-box;
                    }

                    span {
                        color: rgba(255, 255, 255, 0.4);
                    }

                    .duration {
                    }

                    @media screen and (max-width: 768px) {
                        box-sizing: border-box;
                        padding: 0;
                        display: flex;
                        flex-direction: column;

                        .description {
                            padding: 0;
                            margin-bottom: 0.7rem;
                        }
                    }

                }

                .popularity {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    
                    span {
                        line-height: 1;
                        margin: auto 0;
                        color: gold;
                    }

                    img {
                        padding: 0 3px;
                        width: calc(1rem + 1.1vw);
                        height: calc(1rem + 1.1vw);
                        margin: auto 0;
                        @media screen and (max-width: 768px){
                            padding: 0 3px;
                            width: calc(1rem + 3.5vw);
                            height: calc(1rem + 3.5vw);
                        }
                    }
                }

                .genres {
                    padding: 0.1rem 0;
                    font-size: calc(1rem + 0.5vw);
                    grid-column-start: 1;
                    grid-column-end: span 3;

                    div {
                        border: 1px solid white;
                        padding: 0 0.5rem;
                        box-sizing: border-box;
                        width: fit-content;
                        font-size: calc(70% + 0.2rem);
                    }
                }
            }
        }

        .movie-poll-menu {
            width: 100%;
            height: fit-content;
            background-color: black;
            padding: 1rem 1.5rem;
            border-radius: 5px;
            box-sizing: border-box;
            margin-top: -5px;
            visibility: hidden;
            opacity: 0;

            @media screen and (max-width: 768px) {
                margin-top: 1rem;
                grid-column-start: 1;
                grid-column-end: span 2;
                padding: 0
            }

            &.active {
                animation: content-frames 350ms;
                animation-timing-function: ease-out;
                animation-delay: 350ms;
                animation-fill-mode: forwards;

                @keyframes content-frames {
                    0% {
                        visibility: visible;
                        height: auto;
                    }

                    100% {
                        visibility: visible;
                        height: auto;
                        opacity: 1;
                    }
                }

                @media screen and (max-width: 768px) {
                    transition: none;
                    position: relative;
                    visibility: visible;
                    top: 0;
                    left: 0;
                    opacity: 1;
                    animation: none 0 !important;
                }
            }

            .menu {
                padding: 1rem;
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 5px;
                box-sizing: border-box;
                color: white;

                .title {
                    font-weight: 600;
                    font-size: calc(1rem + 1vw);
                    font-family: 'PT Sans Narrow';
                }
            }

            .available-polls-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;

                @media screen and (max-width: 768px) {
                    display: flex;
                    flex-direction: column;
                }

                .poll-options {
                    padding: 1rem;

                    .header {
                        font-family: 'PT Sans Narrow';
                        font-size: calc(1rem + 0.7vw);
                        font-weight: 600;
                        color: rgba(255,255,255,0.7);
                        margin-bottom: 1rem;
                        width: 100%;
                        text-align: center;
                    }

                    .new-poll-form {
                        * {
                            margin-bottom: 0.5rem;
                        }
                    }
                }

                .available-poll-details {
                    display: flex;
                    flex-direction: row;
                    padding: 1rem;

                    .header {
                        font-size: calc(1rem + 0.7vw);
                        font-family: 'PT Sans Narrow';
                        font-weight: 600;
                        color: rgba(255,255,255,0.7);
                        margin-bottom: 1rem;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}
