.card-overlay-component {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: background-color 350ms ease-out;
    transition-delay: 150ms;
    overflow: auto;

    /*@media screen and (max-width: 768px) {
        transition: 350ms ease-out !important;
        top: unset;
        bottom: -50vh;
    }*/

    &.active {
        background-color: rgba(0, 0, 0, 0.5);
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;

        @media screen and (max-width: 768px) {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    .card-overlay {
        position: absolute;
        transition: 350ms ease-out;

        @media screen and (max-width: 768px) {
            position: fixed;
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            padding: 1rem;
            transition-delay: 350ms;
            top: unset !important;
            bottom: -50vh !important;
            left: 0 !important;
            width: 100% !important;
            height: auto !important;
            background-color: black;
            border-radius: 15px 15px 0 0;
        }

        &.active {
            height: 27.125vw !important;
            width: 50vw !important;
            left: 25vw !important;
            top: 5vh !important;

            @media screen and (max-width: 768px) {
                position: fixed;
                top: unset !important;
                left: 0 !important;
                bottom: 0 !important;
                height: auto !important;
                width: 100% !important;
            }
        }

        .before {
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: center;
            background-size: cover;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 110;
            border-radius: 5px;

            @media screen and (max-width: 768px) {
                position: relative;
                width: calc(100vw/2.5) !important; // 3.25 => 0.25 => 0.25 shown of the 4th card
                height: calc((((100vw - 0.25rem*3*2)/3.25)*16)/10) !important;
            }
        }

        .content {
            position: absolute;
            top: calc(27.125vw - 3px);
            z-index: 110;
            padding: 1.5rem;
            background-color: black;
            width: 100%;
            box-sizing: border-box;
            border-radius: 0 0 5px 5px;
            opacity: 0;
            visibility: hidden;
            height: 0;
            overflow: hidden;

            @media screen and (max-width: 768px) {
                opacity: 1;
                visibility: visible;
                background-color: unset !important;
                padding: 0 0 0 1rem;
                top: 0;
                position: relative;
                height: fit-content;
            }

            &.active {
                animation: content-frames 350ms;
                animation-timing-function: ease-out;
                animation-delay: 350ms;
                animation-fill-mode: forwards;

                @keyframes content-frames {
                    0% {
                        visibility: visible;
                        height: auto;
                    }

                    100% {
                        visibility: visible;
                        height: auto;
                        opacity: 1;
                    }
                }

                @media screen and (max-width: 768px) {
                    transition: none;
                    position: relative;
                    top: 0;
                    left: 0;
                    opacity: 1;
                    animation: none 0 !important;
                }
            }

            .primary-info {
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-rows: auto auto;
                column-gap: 5px;
                row-gap: 7px;
                font-family: 'PT Sans Narrow';
                font-weight: 600;
                font-size: calc(1rem + 0.8vw);

                @media screen and (max-width: 768px) {
                    font-size: calc(1rem + 1.5vw);
                }

                .title {
                }

                .popularity {
                    display: flex;
                    flex-direction: row;

                    img {
                        padding: 0 3px;
                        width: calc(1rem + 1.1vw);
                        @media screen and (max-width: 768px){
                            padding: 0 3px;
                            width: calc(1rem + 3.5vw);
                            height: calc(1rem + 3.5vw);
                        }
                    }
                }

                .genres {
                    padding: 0.1rem 0;
                    font-size: calc(1rem + 0.5vw);
                    div {
                        border: 1px solid white;
                        padding: 0 0.5rem;
                        box-sizing: border-box;
                        width: fit-content;
                        font-size: calc(70% + 0.2rem);
                    }
                }
            }

        }
    }
}
