.text-input-component {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;

    form {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
        column-gap: 1rem;   
        border: 1px solid transparent;
        border-radius: 5px; 

        &:hover {
            border: 1px solid white !important;
        }
    }

    input {
        padding: calc(0.5rem + 0.3vw) calc(0.5rem + 1vw);
        border: 0;
        outline: 0;
        background-color: transparent;
        color: white;
        font-family: 'PT Sans Narrow';
        font-size: calc(0.5rem + 1.5vw);
        font-weight: 600;
    }
    
    .edit-vector {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 calc(0.5rem + 0.5vw);
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 0 5px 5px 0;
        border: 0;
        outline: 0;
        height: 100%;

        svg {
            width: calc(0.5rem + 1.3vw);
            color: white;
            height: 100%;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.1);
            svg {
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
}