:root {
    --poll-card-width: 25vw;
    --poll-card-font-size: calc(0.5rem + 0.7vw);

    @media screen and (max-width: 768px) {
        --poll-card-width: 100%;
        --poll-card-font-size: calc(0.5rem + 4vw);
    }
}

.poll-card-component {
    padding: calc(1rem + 0.5vw);
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    max-width: var(--poll-card-width);
    position: relative;
    width: var(--poll-card-width);
    height: 100%;

    &:hover {
        background-color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
    }

    &.disabled {
        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
            cursor: default;
        }
    }

    .data {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
        gap: 1rem;
        color:rgba(255, 255, 255, 0.8);
        font-size: var(--poll-card-font-size);
        font-family: 'PT Sans Narrow';
        align-items: center;
        margin-bottom: 1rem;

        .date-time {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            column-gap: 0.5rem;
        }

        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }

        &.no-poll {
            grid-template-columns: 1fr 40%;
        }

        *:not(.poll-name) {
            margin: auto 0;
        }

        .remove-poll-btn {
            height: 100%;
            border-radius: 5px;
            border: 1px solid rgba(255, 0, 0, 0.6);
            background-color: rgba(255, 0, 0, 0.2);
            padding: 0 calc(0.5rem + 1vw);
            box-sizing: border-box;
            color: rgba(255, 0, 0, 0.9);
            font-size: var(--poll-card-font-size);
            font-family: 'PT Sans Narrow';
            font-weight: 600;
            display: flex;
            flex-direction: row;
            justify-content: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:hover {
                cursor: pointer;
                background-color: rgba(255, 0, 0, 0.1);
            }

            &:disabled {
                cursor: default;
                background-color: rgba(0, 0, 0, 0.1);
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                padding: 2vw 0;
            }
        }
    }

    .poll-name {
        font-family: 'PT Sans Narrow';
        font-size: calc(0.5rem + 1vw);
        font-weight: 600;
        color: rgba(255, 255, 255, 0.8);
        overflow: hidden;
        padding: calc(0.1rem + 0.3vw) calc(0.1rem + 0.5vw);
        box-sizing: border-box;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        height: 100%;

        @media screen and (max-width: 768px) {
            font-size: calc(0.5rem + 5vw) !important;
            padding: calc(0.5rem + 0.5vw) calc(0.5rem + 2vw);

            div {
                text-align: center;
            }
        }

        div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }

        &.empty {
            width: var(--poll-card-width);
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    .movies-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        min-height: calc(((25vw*0.3*3)/2)*2);
        height: calc(((25vw*0.3*3)/2)*2);

        @media screen and (max-width: 768px) {
            min-height: calc(((100vw*0.3*3)/2)*2);
            height: calc(((100vw*0.3*3)/2)*2);
        }

        .movie-container {
            width: 30%;
            height: calc((30%*3)/2);
            justify-self: normal;
            align-self: flex-start;
            background-color: rgba(0, 0, 0, 0.5);
            
            .poster {
                border-radius: 5px;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity 350ms ease-out;

                &.loaded {
                    opacity: 1;
                }
            }

            .empty-poster {
                border-radius: 5px;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .not-a-poll {
        position: absolute;
        font-size: calc(1rem + 1vw);
        font-family: 'PT Sans Narrow';
        font-weight: 600;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
    }
}