.progress-bar-component {
    width: 100%;
    padding: 0 0 1rem 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    column-gap: 1.5rem;
    height: calc(2.5rem + 0.4vw);
    max-height: calc(2.5rem + 0.4vw);

    .progress-bar-container {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        height: 0.5vw;
        margin: auto 0;
        border-radius: 5px;

        @media screen and (max-width: 768px) {
            height: 1rem;
        }

        .progress-bar {
            border-radius: 5px;
            background-color: goldenrod;
            width: 0;
            height: 100%;
        }
    }

    .percentage-label {
        color: white;
        font-family: 'PT Sans Narrow';
        font-weight: 600;
        font-size: calc(1rem + 0.4vw);

        @media screen and (max-width: 768px) {
            font-size: calc(0.5rem + 2.5vw);
        }
    }
}