.poll-item-container {
    hr {
        border-color: rgba(255, 255, 255, 0.03) !important;
        margin-block: 0;
    }
}

.available-polls-list-component {
    display: flex;
    flex-direction: column;
    max-height: 20rem;
    overflow-y: auto;
    padding-right: 1rem;

    @media screen and (min-width: 768px) {
        &::-webkit-scrollbar {
            width: 0.5rem;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.5);
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    @media screen and (max-width: 768px) {
        overflow: hidden;
        max-height: fit-content;
        padding-right: 0;
    }

    .no-polls-text {
        padding: 1rem;
        font-family: 'PT Sans Narrow';
        font-size: calc(1rem + 0.7vw);
        font-weight: 600;
        margin: auto;
        color: rgb(150, 150, 150);
        border: 1px solid rgb(150, 150, 150);
    }

    .poll-item {
        display: grid;
        grid-template-columns: auto auto 1fr auto auto;
        grid-template-rows: auto;
        column-gap: 1rem;
        font-family: 'PT Sans Narrow';
        font-size: calc(1rem + 0.7vw);
        padding: 0.7rem 0.5rem;
        border-radius: 5px;

        &.active {
            background-color: rgba(255, 255, 255, 0.4);
        }

        @media screen and (max-width: 768px) {
            font-size: calc(1rem + 2vw);
        }

        .delete-poll-btn {
            grid-column: 1 / span 5;
            margin: auto;
            height: 0;
            opacity: 0;
            padding: 0;
        }

        .name {
            margin: auto;
        }

        .counter {
            margin: auto;
        }

        svg {
            height: calc(1rem + 0.7vw);
            width: calc(1rem + 0.7vw);
            stroke-width: 4px;
        }

        .more-info-btn {
            transform: rotate(0deg);
            transition: transform 350ms ease-out;

            &.active {
                transform: rotate(-180deg);
            }
        }

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: calc(1.5rem + 1vw);
            height: calc(1.5rem + 1vw);
            background-color: rgba(0, 0, 0, 0.4);
            border: 1px solid rgba(255, 255, 255, 0.5);

            @media screen and (max-width: 768px) {
                width: calc(3rem + 1vw);
                height: calc(3rem + 1vw);
            }

            &.inactive {
                cursor: default !important;
                color: rgba(255, 255, 255, 0.5) !important;
            }

            &:hover {
                cursor: pointer;
                color: gold;
            }
        }

        .poll-item-detail {
            background-color: black;
            grid-column-start: 1;
            grid-column-end: 5 span;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 0;
            opacity: 0;
            padding: 0;
            margin-top: 0;
            animation-fill-mode: forwards !important;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-row: auto;
            column-gap: 7px;
            row-gap: 0px;

            .delete-movie-btn {
                transform: rotate(180deg);
                color: rgb(190, 20, 20);
                display: flex;
                flex-direction: row;
                align-items: center;
                transition: padding 100ms linear;
                transition-delay: 250ms;
                padding: 0px;
                box-sizing: border-box;
                border: none;
                border-radius: 5px;
                background-color: transparent;
                outline-style: none;

                svg {
                    height: 0;
                    stroke-width: 2px;
                    transition: height 175ms linear;
                    transition-delay: 175ms;
                }

                &:hover {
                    cursor: pointer;
                    background-color: white
                }
            }

            .movie-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: inherit;
            }

            &.inactive {
                animation: inactive 350ms linear;

                .delete-movie-btn {
                    padding: 0 !important;
                }

                & ~ .delete-poll-btn {
                    animation: inactive-poll-btn 350ms linear forwards;

                    @keyframes inactive-poll-btn {
                        0% {
                            opacity: 1;
                            height: 3rem;
                            padding-top: 0.7rem;
                        }

                        50% {
                            opacity: 0;
                            height: 3rem;
                            padding-top: 0.7rem;
                        }

                        100% {
                            opacity: 0;
                            height: 0;
                            padding-top: 0;
                        }
                    }
                }

                svg {
                    height: 0 !important;
                }

                @keyframes inactive {
                    0% {
                        opacity: 1;
                        font-size: calc(1rem + 0.6vw);
                        padding: 0.7rem;
                        margin-top: 1rem;
                        row-gap: 3px;
                    }
    
                    50% {
                        font-size: calc(1rem + 0.6vw);
                        padding: 0.7rem;
                        margin-top: 1rem;
                        opacity: 0;
                        row-gap: 3px;
                    }
    
                    100% {
                        font-size: 0;
                        opacity: 0;
                        padding: 0;
                        margin-top: 0;
                        row-gap: 0;
                    }
                }
            }

            &.active {
                animation: active 350ms linear;

                .delete-movie-btn {
                    padding: 3px !important;
                }

                svg {
                    height: calc(1rem + 0.6vw) !important;
                }

                & ~ .delete-poll-btn {
                    animation: active-poll-btn 350ms linear forwards;

                    @keyframes active-poll-btn {
                        0% {
                            opacity: 0;
                            height: 0;
                            padding-top: 0;
                        }

                        50% {
                            opacity: 0;
                            height: 3rem;
                            padding-top: 0.7rem;
                        }

                        100% {
                            opacity: 1;
                            height: 3rem;
                            padding-top: 0.7rem;
                        }
                    }
                }

                @keyframes active {
                    0% {
                        opacity: 0;
                        font-size: 0;
                        padding: 0;
                        margin-top: 0;
                        row-gap: 0;
                    }

                    50% {
                        font-size: calc(1rem + 0.6vw);
                        opacity: 0;
                        padding: 0.7rem;
                        margin-top: 1rem;
                        row-gap: 3px;
                    }

                    100% {
                        font-size: calc(1rem + 0.6vw);
                        padding: 0.7rem;
                        margin-top: 1rem;
                        opacity: 1;
                        row-gap: 3px;
                    }
                }
            }
        }
    }
}