.poll-item-container {
    hr {
        border-color: rgba(255, 255, 255, 0.03) !important;
    }
}

.available-polls-list-component {
    display: flex;
    flex-direction: column;
    max-height: 20rem;
    overflow-y: auto;
    padding-right: 1rem;

    @media screen and (min-width: 768px) {
        &::-webkit-scrollbar {
            width: 0.5rem;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.5);
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    @media screen and (max-width: 768px) {
        overflow: hidden;
        max-height: fit-content;
        padding-right: 0;
    }

    .no-polls-text {
        padding: 1rem;
        font-family: 'PT Sans Narrow';
        font-size: calc(1rem + 0.7vw);
        font-weight: 600;
        margin: auto;
        color: rgb(150, 150, 150);
        border: 1px solid rgb(150, 150, 150);
    }

    .poll-item {
        display: grid;
        grid-template-columns: auto auto 1fr auto auto;
        grid-template-rows: auto;
        column-gap: 1rem;
        font-family: 'PT Sans Narrow';
        font-size: calc(1rem + 0.7vw);
        padding: 0.7rem 0.5rem;
        border-radius: 5px;

        &.active {
            background-color: rgba(255, 255, 255, 0.4);
        }

        @media screen and (max-width: 768px) {
            font-size: calc(1rem + 2vw);
        }

        .name {
            margin: auto;
        }

        .counter {
            margin: auto;
        }

        svg {
            height: calc(1rem + 0.7vw);
            width: calc(1rem + 0.7vw);
            stroke-width: 4px;
        }

        .more-info-btn {
            transform: rotate(0deg);
            transition: transform 350ms ease-out;

            &.active {
                transform: rotate(-180deg);
            }
        }

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: calc(1.5rem + 1vw);
            height: calc(1.5rem + 1vw);
            background-color: rgba(0, 0, 0, 0.4);
            border: 1px solid rgba(255, 255, 255, 0.5);

            @media screen and (max-width: 768px) {
                width: calc(3rem + 1vw);
                height: calc(3rem + 1vw);
            }

            &.inactive {
                cursor: default !important;
                color: rgba(255, 255, 255, 0.5) !important;
            }

            &:hover {
                cursor: pointer;
                color: gold;
            }
        }

        .poll-item-detail {
            background-color: black;
            grid-column-start: 1;
            grid-column-end: 5 span;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 0;
            opacity: 0;
            padding: 0;
            margin-top: 0;
            animation-fill-mode: forwards !important;

            &.inactive {
                animation: inactive 350ms ease-out;

                @keyframes inactive {
                    0% {
                        opacity: 1;
                        font-size: calc(1rem + 0.4vw);
                        padding: 0.7rem;
                        margin-top: 1rem;
                    }
    
                    50% {
                        font-size: calc(1rem + 0.4vw);
                        padding: 0.7rem;
                        margin-top: 1rem;
                        opacity: 0;
                    }
    
                    100% {
                        font-size: 0;
                        opacity: 0;
                        padding: 0;
                        margin-top: 0;
                    }
                }
            }

            &.active {
                animation: active 350ms ease-out;

                @keyframes active {
                    0% {
                        opacity: 0;
                        font-size: 0;
                        padding: 0;
                        margin-top: 0;
                    }

                    50% {
                        font-size: calc(1rem + 0.4vw);
                        opacity: 0;
                        padding: 0.7rem;
                        margin-top: 1rem;
                    }

                    100% {
                        font-size: calc(1rem + 0.4vw);
                        padding: 0.7rem;
                        margin-top: 1rem;
                        opacity: 1;
                    }
                }
            }
        }
    }
}