.available-polls-list-component {
    display: flex;
    flex-direction: column;

    .poll-item {
        display: grid;
        grid-template-columns: auto auto 1fr auto auto;
        grid-template-rows: auto;
        column-gap: 1rem;
        font-family: 'PT Sans Narrow';
        font-size: calc(1rem + 0.7vw);
        padding: 0.7rem 0.5rem;
        border-radius: 5px;
        svg {
            height: calc(1rem + 0.7vw);
            width: calc(1rem + 0.7vw);
            stroke-width: 4px;
        }

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: calc(1.5rem + 1vw);
            height: calc(1.5rem + 1vw);
            background-color: rgba(0, 0, 0, 0.4);

            &:hover {
                cursor: pointer;
                color: gold;
            }
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
            cursor: pointer;
        }
    }
}