.poll-card-container-component {
    padding: 0 4%;
    box-sizing: border-box;

    @media screen and (max-width: 768px) {
        padding: 0 2%;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        position: relative;

        .controls {
            margin: auto 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 0.5rem;
            position: absolute;
            right: 0;
            height: 100%;

            .arrow {
                margin: auto 0;
                height: fit-content;
                display: flex;
                justify-content: center;
                padding: 0.5rem 1rem;
                border-radius: 5px;
                box-sizing: border-box;
                background-color: rgba(0, 0, 0, 0.5);
                outline-style: none;
                border: 0;
                color: rgba(255, 255, 255, 0.8);

                &.disabled {
                    color: rgba(255, 255, 255, 0.1);
                }

                svg {
                    stroke-width: 3px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .poll-card-container {
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.05);

        @media screen and (max-width: 768px) {
            padding: 1.5vw;
        }
    }

    .title {
        font-family: 'PT Sans Narrow';
        font-size: calc(1rem + 1.1vw);
        font-weight: 600;
        padding: 1rem 0.5rem;
        color: rgba(255, 255, 255, 0.8);
        text-align: center;

        @media screen and (max-width: 768px) {
            font-size: calc(0.5rem + 5vw);
        }
    }
}