.button-container {
  width: fit-content;
  width: 100%;
  button {
    font-family: 'PT Sans Narrow';
    font-size: calc(0.5rem + 1vw);
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.6vw 2vw;
    box-sizing: border-box;
    text-transform: capitalize;
    min-width: 13vw !important;
    border-radius: 5px;
    border-style: none;
    outline: none;
    transition: 300ms ease;

    @media screen and (max-width: 768px) {
      height: calc(1rem + 8vw);
      min-width: 40vw !important;
      width: 100%;
      font-size: calc(0.5rem + 3vw);
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.5);
    }

    &:active {
      animation: button-focused 300ms linear;
      animation-direction: normal;
      animation-fill-mode: both;

      @keyframes button-focused {
        0% {
          background-color: rgba(255, 255, 255, 0.5);
        }

        50% {
          background-color: rgba(255, 255, 255, 0.6);
        }

        100% {
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }

    &.default {
      color: white;
    }

    &.inactive {
      cursor: default;
      background-color: rgba(255, 255, 255, 0.3);
    }

    
    &.radial {
        min-height: calc(1.5rem + 1vw) !important;
        height: calc(0.5rem + 1.9vw) !important;
        margin: auto;
        color: rgba(220, 0, 0, 0.85);
        padding: 0 2vw;

        &:hover {
          border: 1px solid rgba(220, 0, 0, 0.6) !important;
        }

        &:disabled {
          cursor: default;
        }

        @media screen and (max-width: 768px) {
          min-width: 80vw !important;
          width: 80vw !important;
          min-height: 9vw !important;
          height: 9vw !important;
      }
    }
  }
}