.button-container {
  width: fit-content;
  button {
    font-family: 'PT Sans Narrow';
    font-size: calc(1rem + 0.5vw);
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.7rem 2rem;
    text-transform: capitalize;
    min-width: 15rem !important;
    height: calc(1rem + 2vw);
    border-radius: 5px;
    border-style: none;
    outline: none;
    transition: 300ms ease;

    @media screen and (max-width: 768px) {
      height: calc(1rem + 7vw);      
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.5);
    }

    &:active {
      animation: button-focused 300ms linear;
      animation-direction: normal;
      animation-fill-mode: both;

      @keyframes button-focused {
        0% {
          background-color: rgba(255, 255, 255, 0.5);
        }

        50% {
          background-color: rgba(255, 255, 255, 0.6);
        }

        100% {
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }

    &.default {
      color: white;
    }

    &.inactive {
      cursor: default;
      background-color: rgba(255, 255, 255, 0.3);
    }

    
    &.radial {
        min-height: calc(1.5rem + 1vw) !important;
        height: calc(1.5rem + 1vw) !important;
        margin: auto;
        color: rgba(220, 0, 0, 0.85);
        padding: 0;

        &:hover {
          border: 1px solid rgba(220, 0, 0, 0.6) !important;
        }

        @media screen and (max-width: 768px) {
          min-width: calc(3rem + 1vw);
          width:  calc(3rem + 1vw);
          min-height: calc(3rem + 1vw);
          height: calc(3rem + 1vw);
      }
    }
  }
}