.poll-author-component {
    padding: 0 0 2rem 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media screen and (max-width: 768px) {
        padding: 0 0 1rem 0;
    }

    .author-petition {
        display: flex;
        flex-direction: column;

        .author-petition-text {
            font-family: 'PT Sans Narrow';
            font-size: calc(1rem + 0.5vw);

            @media screen and (max-width: 768px) {
                font-size: calc(0.5rem + 3vw);
            }
        }
    }

    .author-photo-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;

        img {
            border-radius: 50%;
            width: calc(1rem + 5vw);

            @media screen and (max-width: 768px) {
                width: calc(1rem + 12vw);
            }
        }
    }

    .author-name {
        font-family: 'PT Sans Narrow';
        font-size: calc(1rem + 1vw);
        font-weight: 600;

        @media screen and (max-width: 768px) {
            font-size: calc(0.5rem + 4vw);
        }
    }
}