.poll-author-component {
    padding: 0 0 2rem 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .author-petition {
        display: flex;
        flex-direction: column;

        .author-petition-text {
            font-family: 'PT Sans Narrow';
            font-size: calc(1rem + 0.5vw);
        }
    }

    .author-photo-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;

        img {
            border-radius: 50%;
            width: calc(1rem + 5vw);
        }
    }

    .author-name {
        font-family: 'PT Sans Narrow';
        font-size: calc(1rem + 1vw);
        font-weight: 600;
    }
}