.movie-card-container {
    padding: 0 2px;

    @media screen and (max-width: 768px) {
        padding: 0 0.25rem;
    }
}

.movie-card-component {
    .before {
        background-repeat: no-repeat;
        background-position-y: top;
        background-position-x: center;
        background-size: cover;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        border-radius: 5px;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.0);
            transition: background-color 500ms ease;
            border-radius: 5px;
        }
    }

    .header, .space, .data {
        opacity: 0;
        transition: opacity 300ms ease;
    }

    &:hover {
        .header, .space, .data {
            opacity: 1;
        }

        .before::after {
            background-color: rgba(0, 0, 0, 0.4);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(200px);
        }

        cursor: pointer;
    }

    position: relative;
    width: 0;
    height: 100%;
    padding: 0.6rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    border-radius: 5px;
    flex-shrink: 0;

    @media screen and (max-width: 768px) {
        width: calc((100vw - 0.25rem*3*2)/3.25) !important; // 3.25 => 0.25 => 0.25 shown of the 4th card
        height: calc((((100vw - 0.25rem*3*2)/3.25)*16)/10) !important;
        background-color: rgba(0, 0, 0, 0.2);
        min-height: calc(10rem + 6vh);
    }

    & div {
        z-index: 2;
    }

    .header {
        display: grid;
        // grid-template-columns: 80% 1fr auto; // this grid is used when menu button is enable
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .title {
            font-family: 'PT Sans Narrow';
            font-weight: 500;
            font-size: calc(1rem + 0.5vw);
            line-height: 1;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        .space {
            display: none;
        }

        .menu-btn {
            display: none !important; // menu button is not shown
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            width: 28px;
            height: 28px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.3);
            }
            
            span {
                margin-bottom: 2px;
                display: block;
                height: 4px;
                width: 4px;
                border-radius: 50%;
                background-color: white;
            }

            & span:last-child {
                margin-bottom: 0;
            }

            @media screen and (max-width: 768px) {
                // display: none;
            }
        }

    }

    .space {
    }

    .data {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto;
        width: 100%;
        font-family: 'PT Sans Narrow';
        line-height: 1;

        @media screen and (max-width: 768px) {
            display: none;
        }

        .genres {
            span {
                border: 1px solid white;
                padding: 0 0.5rem;
                width: fit-content;
                font-size: calc(0.2rem + 100%);
            }
        }

        .popularity {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: calc(1rem + 0.3vw);

            img {
                padding: 0 3px 0 0;
                width: calc(0.5rem + 0.8vw);
            }
        }
    }
}