.search-component {
    padding: 0 4%;
}

.search-field-component {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    column-gap: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 1rem 2rem;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid transparent;

    &:hover {
        border-color: rgba(255, 255, 255, 0.5);
    }

    .search-input {
        border: 0;
        font-size: calc(1.5rem + 0.5vw);
        background-color: transparent;
        font-family: 'PT Sans Narrow';
        font-weight: 600;
        outline: none;
        color: white;
        min-width: 50%;
    }

    .search-vector {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}