.sliders-container {
    min-height: 100vh;
}

.search-component {
    padding: 0 4%;
    box-sizing: border-box;
}

.search-field-component {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    column-gap: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 1rem 2rem;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid transparent;

    &:hover {
        border-color: rgba(255, 255, 255, 0.5);
    }

    .search-input {
        border: 0;
        font-size: calc(1.5rem + 0.5vw);
        background-color: transparent;
        font-family: 'PT Sans Narrow';
        font-weight: 600;
        outline: none;
        color: white;
        min-width: 50%;
    }

    .search-vector {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.search-result-component {
    .movie-cards-container {
        padding: calc(1rem + 1.5vw) 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.4rem 0;

        @media screen and (max-width: 768px) {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto;
        }
    }
}

.no-result-component {
    width: 100%;
    .no-result-container {
        border: 1px solid rgba(255, 255, 255, 0.4);
        padding: 1rem;
        box-sizing: border-box;
        text-align: center;
    }
    .text {
        font-family: 'PT Sans Narrow';
        font-size: calc(1rem + 1vw);
        font-weight: 600;
    }
}